# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Testing / cache
.pytest_cache/
.mypy_cache/
.coverage

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db
